.sidebar {
  width: 30%;
  height: 100vh;
  background-color: rgb(27, 26, 99);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.sidebar-data:hover {
  background-color: rgb(55, 68, 166);
  cursor: pointer;
}

.sidebar-data #icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 30%;
}
.sidebar-data #title {
  flex: 70%;
}

#active {
  background-color: #fff;
}
