.layout {
  width: 50%;
  margin-right: auto !important;
  margin-left: auto !important;
  border: 2px solid #000;
  padding: 50px 100px;
  border-radius: 50px;
  box-shadow: 0 0 20px gray;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 20px;
}

.input {
  height: 70px;
  border-radius: 10px;
  padding: 20px;
}

.input::placeholder {
  font-size: 20px;
}
.button-layout {
  text-align: center;
}

button {
  background-color: rgb(55, 68, 166);
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 35%;
}

button > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.information {
  text-align: center;
}
