@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans JP';
  font-optical-sizing: auto;
}

.App {
  display: flex;
}

#root {
  display: flex;
}
